:root {
  --black-color: #2e2f42;
  --blue-color: #404bbf;
  --second-blue-color: #4d5ae5;
  --second-black-color: #434455;
  --white-color: #f4f4fd;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--second-black-color);
  background-color: #ffffff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media only screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 15px;
  }
}

.text-align {
  text-align: center;
}

.header-index {
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-list-address {
  display: flex;
  gap: 40px;
}

@media only screen and (max-width: 767.98px) {
  .header-list,
  .header-list-address {
    display: none;
  }

  .menu .header-list {
    display: unset;
  }

  .menu .nav-links {
    margin-bottom: 128px;
  }

  .menu .menu-contacts {
    margin-bottom: 24px;
  }

  .menu .menu-contacts-li {
    padding-bottom: 24px;
  }

  .menu .header-link {
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
    padding: 0 0 40px 0;
  }

  .current::after {
    display: none;
  }

  .menu .modal-button {
    background-color: transparent;
  }

  .menu .footer-links {
    justify-content: space-between;
    gap: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .header-list-address {
    flex-direction: column;
    gap: 12px;
  }
}

@media only screen and (min-width: 1157px) {
  .header-list-address {
    padding: 24px 0;
  }
}

.header-menu {
  padding: 0;
  border: none;
  background: transparent;
}
@media only screen and (min-width: 768px) {
  .header-menu {
    display: none;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.menu-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 320px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.black-color {
  color: var(--black-color);
}
.blue-color {
  color: var(--blue-color);
}
.second-black-color {
  color: var(--second-black-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-blue-color);
  margin-right: 76px;
}
@media only screen and (max-width: 767.98px) {
  .logo {
    margin-right: 0%;
  }
}

.link {
  text-decoration: none;
  transition-property: color;
}
.link:hover,
.link:focus {
  color: var(--blue-color);
}
.logo-span-footer {
  color: #f4f4fd;
}
.list {
  list-style: none;
}

.nav {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 767.98px) {
  .nav {
    justify-content: space-between;
    flex-grow: 1;
  }
}

.nav-li {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition-property: color;
}
.nav-li:hover,
.nav-li:focus {
  color: var(--blue-color);
}
.header-link {
  padding: 24px 0;
  display: block;
}

.current::after {
  background: var(--OCEAN, #404bbf);
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  border-radius: 2px;
  height: 4px;
  content: "";
}
.header-links {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
  position: relative;
  color: #404bbf !important;
}
.address {
  font-style: normal;
}

@media only screen and (min-width: 768px) {
  .address .header-list {
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 768px) {
  .address-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--second-black-color);
  }
}

@media only screen and (min-width: 1158px) {
  .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

.hero {
  padding: 72px 0;
  max-width: 1440px;
  margin: 0 auto;

  background-color: var(--secondary-color-text);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero-desk.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-mobile.jpg);
}
@media only screen and (min-width: 768px) {
  .hero {
    padding: 112px 0;
  }
}
@media only screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0;
  }
}

@media only screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-mobile@2x.jpg);
  }
}
@media only screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-tab.jpg);
  }
}
@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-tab@2x.jpg);
  }
}
@media only screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-desk.jpg);
  }
}
@media only screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-desk@2x.jpg);
  }
}

.hero-container {
  text-align: center;
}
.section-primary-title {
  max-width: 216px;
  font-size: 36px;
  font-style: normal;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--white-color);
  margin: 0 auto 72px auto;
}
@media only screen and (min-width: 768px) {
  .section-primary-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin: 0 auto 36px auto;
  }
}
@media only screen and (min-width: 1158px) {
  .section-primary-title {
    margin: 0 auto 48px auto;
  }
}
.first-section-button {
  background-color: var(--second-blue-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  padding: 16px 32px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}
.first-section-button:hover,
.first-section-button:focus {
  background-color: var(--blue-color);
}

.second-section-li {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.section-paragraph {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
}
@media only screen and (min-width: 1158px) {
  .section-paragraph {
    font-weight: 400;
  }
}
.list-display {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
@media only screen and (min-width: 768px) {
  .list-display {
    gap: 72px 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .list-display {
    gap: 24px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-paddings {
  padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
  .section-paddings {
    padding: 120px 0;
  }
}

.features-li {
}
@media only screen and (min-width: 768px) {
  .features-li {
    width: calc((100% - 24px * 1) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .features-li {
    width: calc((100% - 24px * 3) / 4);
  }
}
.features-wrapper {
  display: none;
}
@media only screen and (min-width: 1158px) {
  .features-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background: var(--secondary-color-logo);
  }
}
.features-icon {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}

.features-title {
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  margin-bottom: 8px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .features-title {
    text-align: left;
  }
}
@media only screen and (min-width: 1158px) {
  .features-title {
    font-weight: 500;
    line-height: 1.2;
    font-size: 20px;
    letter-spacing: 0.02em;
  }
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--black-color);
  margin-bottom: 72px;
}

.about-team {
  background-color: var(--white-color);
}

@media only screen and (min-width: 768px) {
  .about-team .list-display {
    gap: 64px 24px;
  }
}

.about-team-list {
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
@media only screen and (min-width: 768px) {
  .about-team-list {
    width: calc((100% - 1 * 24px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .about-team-list {
    width: calc((100% - 3 * 24px) / 4);
  }
}
.about-team-paragraph {
  margin-bottom: 8px;
}
.about-team-text {
  padding: 32px 0;
}
.about-team-title {
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  margin-bottom: 8px;
}
@media only screen and (min-width: 768px) {
  .about-team-title {
    text-align: center;
  }
}
@media only screen and (min-width: 1158px) {
  .about-team-title {
    font-weight: 500;
    line-height: 1.2;
    font-size: 36px;
    letter-spacing: 0.02em;
  }
}
.about-team-ul {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.about-team-li {
  width: 40px;
  height: 40px;
}
.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  fill: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition-property: background-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about-team .social-link:hover,
.about-team .social-link:focus {
  background-color: #404bbf;
}
.footer-items .social-link:hover,
.footer-items .social-link:focus {
  background-color: #31d0aa;
}
.social-svg {
  fill: #f4f4fd;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}
@media only screen and (min-width: 768px) {
  .portfolio-list {
    gap: 72px 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .portfolio-list {
    gap: 48px 24px;
  }
}

.portfolio-li {
  /* width: calc((100% - 2 * 24px) / 3); */
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
  .portfolio-li {
    width: calc((100% - 1 * 24px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .portfolio-li {
    width: calc((100% - 2 * 24px) / 3);
  }
}
.portfolio-li:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  cursor: pointer;
}
.portfolio-li:hover p {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-paragraph-p {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.forth-section-li-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-blue-color);
}
.our-portfolio-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.our-portfolio-img {
  position: relative;
  overflow: hidden;
}
.our-portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.our-portfolio-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transform: translateY(0%);
}
.footer-p {
  line-height: 1.5;
  color: var(--white-color);
  letter-spacing: 0.02em;
  width: 264px;
}
.portfolio-first-section-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--second-blue-color);
  background-color: #f4f4fd;
  cursor: pointer;
  transition-property: color background-color;
}
.portfolio-first-section-button:hover,
.portfolio-first-section-button:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.footer-items {
  padding: 96px 0;
  background-color: var(--black-color);
}

.footer-logo-p {
  margin-bottom: 72px;
}

@media only screen and (min-width: 1158px) {
  .footer-items {
    padding: 100px 0;
  }
}
.footer-conteiner {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}
@media only screen and (min-width: 768px) {
  .footer-conteiner {
    /* gap: 24px; */
  }
}
@media only screen and (min-width: 1158px) {
  .footer-conteiner {
    /* gap: 120px; */
    flex-wrap: unset;
  }
}

.footer-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  .footer-logo {
    justify-content: flex-start;
  }
}

.footer-social {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .footer-social {
    text-align: start;
  }
}

.footer-social-div {
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .footer-social-div {
    text-align: start;
    margin: 0;
  }
}

.footer-links {
  display: flex;
  gap: 16px;
}
.footer-li {
  width: 40px;
  height: 40px;
}
@media only screen and (min-width: 768px) {
  .footer-logo-p {
    margin-right: 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-logo-p {
    margin-right: 120px;
  }
  .footer-form {
    margin-left: auto;
  }
}

.footer-form-object {
  display: flex;
  flex-wrap: wrap;
  /* gap: 16px; */
}

@media only screen and (min-width: 768px) {
  .footer-form-object {
    flex-wrap: unset;
  }
}

.footer-form-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.footer-form-input::placeholder {
  color: #ffffff;
}
.footer-form-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
}

.footer-form-label {
  margin: 0 auto;
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .footer-form-button {
    margin: 0;
  }

  .footer-form-label {
    margin: 0;
    margin-right: 24px;
  }
}

.footer-button-svg {
  margin-left: 16px;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 288px;
  min-height: 623px;
  padding: 72px 16px 24px;

  border-radius: 4px;
  background: var(--modal-color);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
  }
}
.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
  border: none;
}
.modal-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover .modal-svg,
.modal-button:focus .modal-svg {
  fill: #ffffff;
}
.modal-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.window-modal-form {
  margin-bottom: 8px;
}
.window-modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.window-label-div {
  position: relative;
}
.window-label-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.window-label-input:focus {
  border-color: #4d5ae5;
}
.window-label-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.window-label-input:focus ~ .window-label-svg {
  fill: #4d5ae5;
}
.window-label-div-textaria {
  margin-bottom: 16px;
}

.window-label-textaria {
  padding: 8px 16px;
  /* width: 256px; */
  width: 100%;
  height: 120px;
  outline: transparent;
  resize: none;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  background-color: transparent;
  border-radius: 4px;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
  .window-label-textaria {
    width: 360px;
  }
}

.window-label-textaria:focus {
  border-color: #4d5ae5;
}
.window-label-div-checkbox {
  margin-bottom: 24px;
}
.window-label-privacy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.window-label-privacy-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.window-label-privacy-a {
  color: #4d5ae5;
}
.window-label-privacy-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-privacy-input:checked ~ label .window-label-privacy-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
